$blue: #4361ee;

.root {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  width: 310px;
  height: fit-content;

  &Full {
    &:hover {
      background-color: #fff;
      border: 1px solid #dedede;
      box-shadow: none;
    }
  }
}

.wrapper {
  text-align: center;
  padding: 10px 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tasks {
  height: fit-content;
  min-height: 40px;
  max-height: 54vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: inherit;
}
