$blue: #4361ee;

.root {
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 4px 10px;
  min-height: 52px;

  .checkbox-item {
    min-width: auto;
  }

  .change-status {
    width: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.25s ease-in-out;
    pointer-events: none;
  }

  .edit-element {
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .change-status {
      width: 30px;
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
    }

    .edit-element {
      opacity: 1;
      transition: all 0.15s ease-in-out;
    }
  }
}
