.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  button {
    margin-top: 20px;
  }
}
