.root {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  min-width: 300px;
  height: fit-content;
  max-height: 80vh;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}
